@model IEnumerable<DataLayer.Users>

@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<p>
   <a href="@Url.Action("Create")" class="btn btn-success">ثبت کاربر جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.RoleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @item.RegisterDate.ToShamsi()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
